* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    box-shadow: 1px 1px 3px #24242426;

}

header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 13vw;
}

header div img {
    width: 3vw;
}

header h2 {
    margin-left: 10px;
}
header ul {
    display: flex;
    width: 30vw;
    justify-content: space-around;
    list-style: none;
    font-size: 17px;
}

